<%- include('./partials/__htmlHead.ejs') %>

<body>

    
    <%- include('./partials/__preloader.ejs') %>

    <%- include('./partials/__mainHeader.ejs') %>

    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <%- include('./partials/__categorySliderHead.ejs') %>





    <!-- ...:::: Start Cart Section:::... -->
    <div class="cart-section">
        <!-- Start Cart Table -->
        <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table id="tableCartCheckout">
                                    <!-- Start Cart Table Head -->
                                    <thead>
                                        <tr>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product_quantity">Quantity</th>
                                            <th class="product_total">Total</th>
                                            <th class="product_remove">Delete</th>
                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>
                                        <!-- Start Cart Single Item-->
                                        <tr>
                                            <td class="product_thumb"><a href="product-details-default.html"><img
                                                        src="/publicAssets/images/product/default/home-1/default-1.jpg"
                                                        alt=""></a></td>
                                            <td class="product_name"><a href="product-details-default.html">Handbag
                                                    fringilla</a></td>
                                            <td class="product-price">$65.00</td>
                                            <td class="product_quantity"><label>Quantity</label> <input min="1"
                                                    max="100" value="1" type="number"></td>
                                            <td class="product_total">$130.00</td>
                                            <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                        </tr> <!-- End Cart Single Item-->
                                        <!-- Start Cart Single Item-->
                                        <tr>
                                            <td class="product_thumb"><a href="product-details-default.html"><img
                                                        src="/publicAssets/images/product/default/home-1/default-2.jpg"
                                                        alt=""></a></td>
                                            <td class="product_name"><a href="product-details-default.html">Handbags
                                                    justo</a></td>
                                            <td class="product-price">$90.00</td>
                                            <td class="product_quantity"><label>Quantity</label> <input min="1"
                                                    max="100" value="1" type="number"></td>
                                            <td class="product_total">$180.00</td>
                                            <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                        </tr> <!-- End Cart Single Item-->
                                        <!-- Start Cart Single Item-->
                                        <tr>
                                            <td class="product_thumb"><a href="product-details-default.html"><img
                                                        src="/publicAssets/images/product/default/home-1/default-3.jpg"
                                                        alt=""></a></td>
                                            <td class="product_name"><a href="product-details-default.html">Handbag
                                                    elit</a></td>
                                            <td class="product-price">$80.00</td>
                                            <td class="product_quantity"><label>Quantity</label> <input min="1"
                                                    max="100" value="1" type="number"></td>
                                            <td class="product_total">$160.00</td>
                                            <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                        </tr> <!-- End Cart Single Item-->
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart_submit">
                                <button class="btn btn-md btn-golden" type="submit">update cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Cart Table -->

        <!-- Start Coupon Start -->
        <div class="coupon_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
                            <h3>Coupon</h3>
                            <div class="coupon_inner">
                                <p>Enter your coupon code if you have one.</p>
                                <input class="mb-2" placeholder="Coupon code" type="text">
                                <button type="submit" class="btn btn-md btn-golden">Apply coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Subtotal</p>
                                    <p class="cart_amount">$215.00</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipping</p>
                                    <p class="cart_amount"><span>Flat Rate:</span> $255.00</p>
                                </div>
                                <a href="#">Calculate shipping</a>

                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount">$215.00</p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="#" class="btn btn-md btn-golden">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Coupon Start -->
    </div> 
    <!-- ...:::: End Cart Section:::... -->






    <%- include('./partials/__footer.ejs') %>


    

    <!-- material-scrolltop button -->
    <button class="material-scrolltop" type="button"></button>

    <!-- Start Modal Add cart -->
    <%- include('./partials/__modalAddToCart.ejs') %>
     <!-- End Modal Add cart -->

    <!-- Start Modal Quickview cart -->
    <%- include('./partials/__modalQuickViewItem.ejs') %>
    <!-- End Modal Quickview cart -->


    

<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<script src="/publicAssets/js/vendor/vendor.min.js"></script>
<script src="/publicAssets/js/plugins/plugins.min.js"></script>







<script src="/publicPlugin/datatables/jquery.dataTables.min.js"></script>
<script src="/publicPlugin/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/publicPlugin/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/publicPlugin/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/publicPlugin/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/publicPlugin/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/publicPlugin/jszip/jszip.min.js"></script>
<script src="/publicPlugin/pdfmake/pdfmake.min.js"></script>
<script src="/publicPlugin/pdfmake/vfs_fonts.js"></script>
<script src="/publicPlugin/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/publicPlugin/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/publicPlugin/datatables-buttons/js/buttons.colVis.min.js"></script>



<!-- Bootstrap 4 -->
<script src="/publicPlugin/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="/publicPlugin/select2/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!-- Main JS -->
<script src="/publicAssets/js/main.js"></script>






    <script>
            
        $("#tableCartCheckout").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tableCartCheckout_wrapper .col-md-6:eq(0)');

    </script>



</body>


</html>