<%- include('./partials/__htmlHead.ejs') %>

<body>


    <%- include('./partials/__preloader.ejs') %>

    <%- include('./partials/__mainHeader.ejs') %>

    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <%- include('./partials/__categorySliderHead.ejs') %>



    <!-- <div class="selectCategory" data-aos="fade-up" data-aos-delay="200"> -->
    <div class="selectCategory" data-aos="fade-up" data-aos-delay="100">
        <input class="radio" type="radio" checked name="selectCategory" id="selectCategory1">
        <label class="lbl" for="selectCategory1">For Sale (New)</label>
        <input class="radio" type="radio" name="selectCategory" id="selectCategory2">
        <label class="lbl" for="selectCategory2">For Sale (Old)</label>
        <input class="radio" type="radio" name="selectCategory" id="selectCategory3">
        <label class="lbl" for="selectCategory3">For Rent (New)</label>
        <input class="radio" type="radio" name="selectCategory" id="selectCategory4">
        <label class="lbl" for="selectCategory4">For Rent (Old)</label>
    </div>


    <!-- Start Product Default Slider Section FOUR NEW CATEGORIES LABEL OPTIONS-->
    <div class="product-default-slider-section section-fluid " >
            <!-- Start Section Content Text Area -->
                <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
                <!-- <div class="section-title-wrapper"> -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-content-gap">
                                    <div class="secton-content">
                                        <h3 class="section-title"></h3>
                                        <!-- <p>Preorder now to receive exclusive deals & gifts</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Section Content Text Area -->

            <div class="product-wrapper" data-aos="fade-up" data-aos-delay="100">
            <!-- <div class="product-wrapper"> -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-slider-default-2rows default-slider-nav-arrow">
                                <!-- Slider main container -->
                                <div class="swiper-container product-default-slider-4grid-2row">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">

                                        <%- include('./partials/__singleProduct.ejs') %>
                                        <%- include('./partials/__singleProduct.ejs') %>
                                        <%- include('./partials/__singleProduct.ejs') %>
                                        <%- include('./partials/__singleProduct.ejs') %>
                                        <%- include('./partials/__singleProduct.ejs') %>
                                        <%- include('./partials/__singleProduct.ejs') %>
                                        <%- include('./partials/__singleProduct.ejs') %>
                                        <%- include('./partials/__singleProduct.ejs') %>

                                    </div>
                                </div>
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- <div class="loadMoreItems" data-aos="fade-up" data-aos-delay="200"> -->
    <div class="loadMoreItems">
        View All
    </div>
    <!-- Start Product Default Slider Section FOUR NEW CATEGORIES LABEL OPTIONS-->


    
    <!-- Start Product Default Slider Section SUGGESTED FOR YOU-->
    <div class="product-default-slider-section section-fluid section-inner-bg">
        <!-- Start Section Content Text Area -->
        <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content-gap">
                            <div class="secton-content">
                                <h3 class="section-title">SUGGESTED FOR YOU</h3>
                                <!-- <p>Add our best sellers to your weekly lineup.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Section Content Text Area -->
        <div class="product-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-slider-default-1row default-slider-nav-arrow">
                            <!-- Slider main container -->
                            <div class="swiper-container product-default-slider-4grid-1row">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- End Product Default Single Item -->

                                    
                                    <%- include('./partials/__singleProduct.ejs') %>
                                    <%- include('./partials/__singleProduct.ejs') %>
                                    <%- include('./partials/__singleProduct.ejs') %>
                                    <%- include('./partials/__singleProduct.ejs') %>
                                    <%- include('./partials/__singleProduct.ejs') %>
                                    <%- include('./partials/__singleProduct.ejs') %>
                                    <%- include('./partials/__singleProduct.ejs') %>
                                    <%- include('./partials/__singleProduct.ejs') %>

                                    
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Product Default Slider Section SUGGESTED FOR YOU-->


    <!-- RECENTLY ADDED -->
    <!-- <div class="service-promo-section section-top-gap-100 section-inner-bg"> -->
    <div class="service-promo-section section-top-gap-100" data-aos="fade-up" data-aos-delay="100">
        <!-- Start Section Content Text Area -->
        <div class="section-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content-gap">
                            <div class="secton-content">
                                <h3 class="section-title">RECENTLY ADDED</h3>
                                <!-- <p>Add our best sellers to your weekly lineup.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Section Content Text Area -->
        <div class="service-wrapper">
            <div class="container">
                <div class="row">
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12 itemFullWidth">
                        <%- include('./partials/__singleProduct.ejs') %>
                    </div>
                    <!-- End Service Promo Single Item -->
                    
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12 itemFullWidth">
                        <%- include('./partials/__singleProduct.ejs') %>
                    </div>
                    <!-- End Service Promo Single Item -->

                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12 itemFullWidth">
                        <%- include('./partials/__singleProduct.ejs') %>
                    </div>
                    <!-- End Service Promo Single Item -->

                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12 itemFullWidth">
                        <%- include('./partials/__singleProduct.ejs') %>
                    </div>
                    <!-- End Service Promo Single Item -->

                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12 itemFullWidth">
                        <%- include('./partials/__singleProduct.ejs') %>
                    </div>
                    <!-- End Service Promo Single Item -->

                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12 itemFullWidth">
                        <%- include('./partials/__singleProduct.ejs') %>
                    </div>
                    <!-- End Service Promo Single Item -->

                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12 itemFullWidth">
                        <%- include('./partials/__singleProduct.ejs') %>
                    </div>
                    <!-- End Service Promo Single Item -->

                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12 itemFullWidth">
                        <%- include('./partials/__singleProduct.ejs') %>
                    </div>
                    <!-- End Service Promo Single Item -->
                    
                </div>
                <div class="loadMoreItems" data-aos="fade-up" data-aos-delay="200">
                    View All
                </div>
            </div>
        </div>
    </div>
     <!-- RECENTLY ADDED -->
    

    <!-- Start Service Section -->
    <div class="service-promo-section section-top-gap-100">
        <div class="service-wrapper">
            <div class="container">
                <div class="row">
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="0">
                            <div class="image">
                                <img src="/publicAssets/images/icons/service-promo-5.png" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">FREE SHIPPING</h6>
                                <p>Get 10% cash back, free shipping, free returns, and more at 1000+ top retailers!</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="200">
                            <div class="image">
                                <img src="/publicAssets/images/icons/service-promo-6.png" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">30 DAYS MONEY BACK</h6>
                                <p>100% satisfaction guaranteed, or get your money back within 30 days!</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="400">
                            <div class="image">
                                <img src="/publicAssets/images/icons/service-promo-7.png" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">SAFE PAYMENT</h6>
                                <p>Pay with the world’s most popular and secure payment methods.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="600">
                            <div class="image">
                                <img src="/publicAssets/images/icons/service-promo-8.png" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">LOYALTY CUSTOMER</h6>
                                <p>Card for the other 30% of their purchases at a rate of 1% cash back.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Service Section -->



    <%- include('./partials/__footer.ejs') %>


    <!-- material-scrolltop button -->
    <button class="material-scrolltop" type="button"></button>

    <!-- Start Modal Add cart -->
    <%- include('./partials/__modalAddToCart.ejs') %>
     <!-- End Modal Add cart -->

    <!-- Start Modal Quickview cart -->
    <%- include('./partials/__modalQuickViewItem.ejs') %>
    <!-- End Modal Quickview cart -->

    <!-- Start Modal Login cart -->
    <%- include('./partials/__modalLoginBox.ejs') %>
    <!-- End Modal Login cart -->

    <!-- Start Modal Register/ Signup cart -->
    <%- include('./partials/__modalRegisterBox.ejs') %>
    <!-- End Modal Register/ Signup cart -->


    <!-- ::::::::::::::All JS Files here :::::::::::::: -->
    <!-- Global Vendor, plugins JS -->
    <script src="/publicAssets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="/publicAssets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="/publicAssets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/publicAssets/js/vendor/popper.min.js"></script>
    <script src="/publicAssets/js/vendor/bootstrap.min.js"></script>
    <script src="/publicAssets/js/vendor/jquery-ui.min.js"></script>

    <!--Plugins JS-->
    <script src="/publicAssets/js/plugins/swiper-bundle.min.js"></script>
    <script src="/publicAssets/js/plugins/material-scrolltop.js"></script>
    <!-- <script src="/publicAssets/js/plugins/jquery.nice-select.min.js"></script> -->
    <script src="/publicAssets/js/plugins/jquery.zoom.min.js"></script>
    <script src="/publicAssets/js/plugins/venobox.min.js"></script>
    <script src="/publicAssets/js/plugins/jquery.waypoints.js"></script>
    <script src="/publicAssets/js/plugins/jquery.lineProgressbar.js"></script>
    <script src="/publicAssets/js/plugins/aos.min.js"></script>
    <script src="/publicAssets/js/plugins/jquery.instagramFeed.js"></script>
    <script src="/publicAssets/js/plugins/ajax-mail.js"></script>
    
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="/plugins/select2/js/select2.full.min.js"></script>
 
<!-- Main JS -->
<script src="/publicAssets/js/main.js"></script>


<!-- Bootstrap 4 -->
<!-- <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script> -->

<!-- Select2 -->
<!-- <script src="/plugins/select2/js/select2.full.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>



</body>



</html>

